<div class="divModalParent">
  <h1 mat-dialog-title>Reservaciones</h1>
  <h3>Fecha: {{ utils.dateFormat(date) }}</h3>
  <h3>Horario: {{ utils.formatAMPM(startHour) }} - {{ utils.formatAMPM(endHour) }}</h3>
  <div mat-dialog-content>

    @if (clients.length > 0) {
      <table id="customers">
        <th>Cliente</th>
        <th>Teléfono</th>
        @for (client of clients; track client) {
          <tr>
            <td>{{client.name}}</td>
            <td>{{client.phoneNumber}}</td>
          </tr>
        }
      </table>
    }

    @if (clients.length == 0) {
      <p id="labelNoReservation">** No hay reservaciones **</p>
    }

  </div>
  <div mat-dialog-actions>
    <button id="btnClose" mat-raised-button color="primary" (click)="dimissDialog()">Cerrar</button>
  </div>
</div>