<div class="mainDiv">

  <div class="divTextContainer">
    <h1>Reservaciones</h1>
    <p id="weekRange" class="p_description"></p>
    <p class="p_description"> ◉ Seleccione el espacio que desea reservar</p>
    <!--<p class="p_description"> ◉ Los números indican la cantidad de espacios disponibles</p>-->
  </div>

  <table>
    <!--<tr id="headers_pc" class="top_headers">
    <th>Horario:</th>
    <th>Lunes</th>
    <th>Martes</th>
    <th>Miércoles</th>
    <th>Jueves</th>
    <th>Viernes</th>
    <th>Sábado</th>
    <th>Domingo</th>
  </tr>-->

  <tr id="amountOfAvailableSpacesLabel" class="top_headers">
    <th colspan="8">Cantidad de espacios disponibles:</th>
  </tr>

  <tr id="headers" class="top_headers">
    <th>Horario:</th>
    <th>Lun</th>
    <th>Mar</th>
    <th>Mié</th>
    <th>Jue</th>
    <th>Vie</th>
    <th>Sáb</th>
    <th>Dom</th>
  </tr>

  <tbody>
    @for (column of arrayShiefts[0]; track column; let i = $index) {
      <tr>
        <td class="headers">
          <p id="p_range_hours">{{ utils.formatAMPM(arrayShiefts[0][i].startHour) }} - {{
          utils.formatAMPM(arrayShiefts[0][i].endHour) }}</p>
        </td>
        <td class="{{arrayShiefts[0][i].cssClass}}" id='{{arrayShiefts[0][i].date+"_"+arrayShiefts[0][i].startHour}}'
          (click)="openDialog(arrayShiefts[0][i].date, arrayShiefts[0][i].startHour, arrayShiefts[0][i].endHour)">
          <p class='p_available_space_text'>Campos disponibles: </p>
          <p class="p_available_space" id='p_{{arrayShiefts[0][i].date+"_"+arrayShiefts[0][i].startHour}}'>
          {{arrayShiefts[0][i].availableSpace}}</p>
        </td>
        <td class="{{arrayShiefts[1][i].cssClass}}" id='{{arrayShiefts[1][i].date+"_"+arrayShiefts[1][i].startHour}}'
          (click)="openDialog(arrayShiefts[1][i].date, arrayShiefts[1][i].startHour, arrayShiefts[1][i].endHour)">
          <p class='p_available_space_text'>Campos disponibles: </p>
          <p class="p_available_space" id='p_{{arrayShiefts[1][i].date+"_"+arrayShiefts[1][i].startHour}}'>
          {{arrayShiefts[1][i].availableSpace}}</p>
        </td>
        <td class="{{arrayShiefts[2][i].cssClass}}" id='{{arrayShiefts[2][i].date+"_"+arrayShiefts[2][i].startHour}}'
          (click)="openDialog(arrayShiefts[2][i].date, arrayShiefts[2][i].startHour, arrayShiefts[2][i].endHour)">
          <p class='p_available_space_text'>Campos disponibles: </p>
          <p class="p_available_space" id='p_{{arrayShiefts[2][i].date+"_"+arrayShiefts[2][i].startHour}}'>
          {{arrayShiefts[2][i].availableSpace}}</p>
        </td>
        <td class="{{arrayShiefts[3][i].cssClass}}" id='{{arrayShiefts[3][i].date+"_"+arrayShiefts[3][i].startHour}}'
          (click)="openDialog(arrayShiefts[3][i].date, arrayShiefts[3][i].startHour, arrayShiefts[3][i].endHour)">
          <p class='p_available_space_text'>Campos disponibles: </p>
          <p class="p_available_space" id='p_{{arrayShiefts[3][i].date+"_"+arrayShiefts[3][i].startHour}}'>
          {{arrayShiefts[3][i].availableSpace}}</p>
        </td>
        <td class="{{arrayShiefts[4][i].cssClass}}" id='{{arrayShiefts[4][i].date+"_"+arrayShiefts[4][i].startHour}}'
          (click)="openDialog(arrayShiefts[4][i].date, arrayShiefts[4][i].startHour, arrayShiefts[4][i].endHour)">
          <p class='p_available_space_text'>Campos disponibles: </p>
          <p class="p_available_space" id='p_{{arrayShiefts[4][i].date+"_"+arrayShiefts[4][i].startHour}}'>
          {{arrayShiefts[4][i].availableSpace}}</p>
        </td>
        <td class="{{arrayShiefts[5][i].cssClass}}" id='{{arrayShiefts[5][i].date+"_"+arrayShiefts[5][i].startHour}}'
          (click)="openDialog(arrayShiefts[5][i].date, arrayShiefts[5][i].startHour, arrayShiefts[5][i].endHour)">
          <p class='p_available_space_text'>Campos disponibles: </p>
          <p class="p_available_space" id='p_{{arrayShiefts[5][i].date+"_"+arrayShiefts[5][i].startHour}}'>
          {{arrayShiefts[5][i].availableSpace}}</p>
        </td>
        <td class="{{arrayShiefts[6][i].cssClass}}" id='{{arrayShiefts[6][i].date+"_"+arrayShiefts[6][i].startHour}}'
          (click)="openDialog(arrayShiefts[6][i].date, arrayShiefts[4][i].startHour, arrayShiefts[6][i].endHour)">
          <p class='p_available_space_text'>Campos disponibles: </p>
          <p class="p_available_space" id='p_{{arrayShiefts[6][i].date+"_"+arrayShiefts[6][i].startHour}}'>
          {{arrayShiefts[6][i].availableSpace}}</p>
        </td>
      </tr>
    }

  </tbody>

</table>

<div class="divTextContainer" style="margin-top:10px;">
  <p class="p_note">*NOTA: el horario de la próxima semana estará disponible a partir del {{endDateFormatted}}, a las 5
  pm</p>
</div>

</div>