<div class="divModalParent">
  <h2 mat-dialog-title>Reservaciones de {{ customerSelected.name }}</h2>
  <div mat-dialog-content>

    @if (customerSelected.reservations.length > 0) {
      <table id="customerReservationsTable">
        <th>Fecha</th>
        <th>Horario</th>
        @for (reservation of customerSelected.reservations; track reservation) {
          <tr>
            <td>{{ utils.dateFormat(reservation.shiftDate) }}</td>
            <td>{{ utils.formatAMPM(reservation.shiftStartHour) }} - {{ utils.formatAMPM(reservation.shiftEndHour) }}</td>
          </tr>
        }
      </table>
    }

    @if (customerSelected.reservations.length == 0) {
      <p id="labelNoReservation">** No hay reservaciones **</p>
    }

  </div>
  <div mat-dialog-actions>
    <button id="btnClose" mat-raised-button color="primary" (click)="dimissDialog()">Cerrar</button>
  </div>
</div>